.navbar {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  _background-color: lightgrey;
}

#logo {
  height: 40px;
  align-self: center;
}

.nav-list .nav-list-item {
  display: inline-block;
}

.nav-link {
  color: #141212;
  padding: 0 6px;
}
